git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
aiohttp==1.0.5
websockets==3.4
PyNaCl==1.2.1
yarl==1.2.6
chardet==3.0.4
multidict==4.3.1
attrs==18.1.0
idna==2.7
async-timeout==3.0.0
pytz==2018.5
bs4
#discord.py==1.0.0a1504+gf06563c
